body{
    background-color: #615c5c;
}

header .container{
    padding: 16px;
    background-color: rgb(10, 10, 10);
    color: #fff
}

.nav-link{
    background-color: #fff;
}

.nav-link:hover,
.navbar-nav .nav-link.active{
    background-color: red;
    color: #fff;
}

header img{
    height: 50px;
}

/*Controles de troca de slide*/

.carousel-control-next, .carousel-control-prev{
    top: 225px;
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-control-next span, .carousel-control-prev span{
    background-color: rgb(0, 0, 0, 0.3);
}

.carousel-indicators{
    margin-bottom: -5rem;
}

/*Sobre o carousel*/

.carousel-item img{
    width: 100%;
    height: 600px;
}

/*Sobre os cards*/

.card{
    width: 225px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 16px;
}

.card img{
    margin: 0 auto;
    width: 206px;
    height: 206px;
}

.card-body p{
    font-size: 12px;
    color: #838080;
}

.btn{
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: #615c5c;
    width: 60px;
    height: 22px;
}

.btn-grass{
    background-color: #3d7e0e;
}

.btn-poison{
    background-color: #bb34c1;
}

.btn-fire{
    background-color: #ffa500;
}

.btn-fly{
    background: linear-gradient(43deg, #009dc4 50%, #cbd1d0 50%);
}

.btn-water{
    background-color: #0088dc;
}



@media (max-width: 1200px) and (min-width: 991px){
    .navbar-nav{
        margin-right: -110px;
    }

    .carousel-indicators{
        margin-bottom: -5rem;
    }
}

@media (max-width: 990px){
    .carousel-indicators{
        margin-bottom: -2rem;
    }
}